# Dependencies
node_modules

# Module Cache
/.cache
/build
/public/build

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# ESLint Cache
.eslintcache
